.user-list {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .user-container {
    display: block; /* Make each user block take the full width */
    margin-bottom: 20px; /* Add space between user blocks */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-info p {
    margin: 5px 0;
    font-size: 14px;
  }
  
  .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  .edit-button, .delete-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 45%;
  }

  
  
  button:hover {
    background-color: #45a049;
  }
  